<div class="row hidden-xs hidden-sm hidden-md" id="mainNav">
  <div class="col-md-12 noPadd">
    <ul class="mainSectionMenu">
      <li><a href="#homeNav">HOME</a></li>
      <li><a href="#storyNav">STORY</a></li>
      <li><a href="#galleryNav">GALLERY</a></li>
      <li style="margin-right: 0;"><a href="/donors">DONORS</a></li>
    </ul>
  </div>
</div>

<div class="row" id="shareBlockSection">
  <div class="sectionAEnc">
    <div class="col-md-4 noPadd">
      <div class="topFeeds">
        <p class="fontBlack">Young kids (> 92% low-income) from this Lower Haight school have little access to art education &amp; activities due to lack of public funding.​</p>
      </div>

      <div class="topFeeds topFeedBlue">
        <p class="fontItalic">Haight Street Art Center hosted a silk screening project this spring that delighted students &amp; families.  The community came out to party!</p>
      </div>
    </div>
    <div class="col-md-8 noPaddR noPaddLMobile">
      <div class="shareBox hidden-xs">
        <h3>PLEASE SHARE!</h3>
        <ul>
          <!--<li><div id="fbButton"><img src="/abuntoo/images/fb.png" alt="Share on Facebook"></div></li>-->
          <!--<li><div class="fb-share-button" data-href="https://johnmuirart.abuntoo.org" data-layout="icon" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fjohnmuirart.abuntoo.org%2F&amp;src=sdkpreparse">Share</a></div></li>-->
          <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://johnmuirart.abuntoo.org&p[quote]=<%=u 'Friends, please support art education at John Muir Elementary by making a donation today. I just did!' %>"><img src="/abuntoo/images/fb.png"></a></li>
          <li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/share?url=<%=u 'https://www.johnmuirart.us/' %>&text=<%=u 'Friends, please support art education at John Muir Elementary by making a donation today. I just did!' %>&via=abuntoo&size=large&dnt=true"><img src="/abuntoo/images/twitter.png" alt="Share on Twitter"></a></li>
          <li><a href="mailto:?to=&subject=<%=u 'Support art eductaion at John Muir Elementary' %>&body=<%=u "Friends, please support art education at John Muir Elementary by making a donation today. I just did!\n\nhttps://johnmuirart.abuntoo.org" %>"><img src="/abuntoo/images/mail.png" alt="Share via Mail"></a></li>
        </ul>
      </div>
      <div class="clearB"></div>
      <iframe class="mainPageFrame" width="100%" height="270" src="https://www.youtube.com/embed/kowmtT1Wtw0" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
  <br>
  <div class="sectionBEnc">
    <div class="col-md-8 noPaddR noPaddL marg10Mobile">
      <img class="img-responsive" src="/abuntoo/images/sectionAImg.jpg" alt="Fund!">
    </div>

    <div class="col-md-4 noPaddR noPaddLMobile">
      <div class="topFeeds topFeedPink lastFeedMainPage">
        <p class="fontItalic">We need your support to replicate this successful model &amp; develop similar projects to make art a regular offering in these children’s lives.</p>
      </div>
    </div>
  </div>
</div>

<div class="row" id="storyNav">
  <div class="col-md-12 noPadd" >
    <hr class="storyBorderMainP">
    <h3 class="sectionTitle storyTitle">STORY</h3>
    <div class="row">
      <div class="col-md-12">
        <div id="main-slider" class="liquid-slider">
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-1.png" alt="Story 1">
              <p>This spring, Haight Street Art Center and Public Engagement for Public Schools provided the means to bring a screen printing project to John Muir Elementary School, demonstrating a community collaboration model that successfully delivered enrichment activities to underserved students.</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-2.png" alt="Story 1">
              <p>SFUSD art teacher Andrea Wlodarczyk, who comes to Muir once a week as part of her three-school rotation, facilitated each student’s creation of a unique tile that became part of the Collaborative Puzzle Project. 12 classes = 12 compositions!</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-3.JPG" alt="Story 1">
              <p>Master printer Gary Houston visited on a Tuesday in February to demonstrate the process of screen printing in the school auditorium. He brought his own equipment and screen printed each class’s puzzle. Every student - over 100 in all - took home a print that included his / her own tile.</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-4.jpg" alt="Story 1">
              <p>Haight Street Art Center also produced and donated over 120 color giclée prints of six different artworks from a similar project carried out the previous semester. Each student took home a copy!</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-5.JPG" alt="Story 1">
              <p>The project culminated in a Student Art Fair for students, families, and neighbors. Over 100 people came out to enjoy a dance performance by the Western Addition Beacon Center, displays of student artwork, and another demo by Gary Houston - this time printing a poster to commemorate the event.</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-6.png" alt="Story 1">
              <p>For students, working alongside a professional artist was both enlightening and exciting. “I didn’t know you could print other ways. I thought you could only print with copy machines.” — Daviana Thompson, 1st Grade.</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-7.JPG" alt="Story 1">
              <p>"Partnering with community organizations means that we can extend learning opportunities beyond the classroom. Developing a project from concept to completion that connects learning to real-world applications has been an incredible experience for us.” - Andrea Wlodarczyk, K-5 Art Teacher, SFUSD</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-9.png" alt="Story 1">
              <p>"One of Haight Street Art Center's main premises is that art attracts and connects individuals and plays an important role in forming communities. We are truly rewarded through our participation with John Muir Elementary's terrific art program.” — Peter McQuaid, Executive Director, HSAC</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-10.JPG" alt="Story 1">
              <p>“Financial contributions from the community make a huge difference in our ability to support our students, teachers and families. This puts the public in public education. It takes a village and you’re our village!” — Shawn Mansager, Principal, John Muir Elementary School</p>
              <div class="clearB"></div>
            </div>
          </div>
          <div>
            <div class="sliderBox">
              <h2 class="title">&bull;</h2>
              <img src="/abuntoo/images/SS-11.png" alt="Story 1">
              <p>"PEPS connects schools and neighborhoods in ways that are mutually beneficial. The art you're enjoying came out of a collaboration between John Muir and the HSAC. This campaign reflects how we can be good neighbors to each other!” — Dawn Nakano, Co-Executive Director, www.sfpeps.org</p>
              <div class="clearB"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="storyBorderMainP">

    <a id="galleryNav"></a>
    <section class="gallery hidden-xs">
      <div class="grid-custom">
        <div class="row" style="margin: 0; width: 100;">
          <div class="col-md-12 noPadd"><h3 class="sectionTitle" style="padding-left: 12px;">REWARDS GALLERY</h3></div>
          <div class="col-sm-7 col-xs-12"><a href="/abuntoo/images/Rewards-Gallery-Collage-1.png" data-lightbox="image-1" data-title="Image from 'Set of 6 Greeting Cards'"><img src="/abuntoo/images/Rewards-Gallery-Collage-1.png" alt="" class="img-responsive"></a></div>
          <div class="col-sm-5 col-xs-12"><a href="/abuntoo/images/Rewards-Gallery-Collage-2.jpg" data-lightbox="image-2" data-title="Image from 'Art Fair Screen Print'"><img src="/abuntoo/images/Rewards-Gallery-Collage-2.jpg" alt="" class="img-responsive"></a><a href="/abuntoo/images/Rewards-Gallery-Collage-3.jpg" data-lightbox="image-3" data-title="Image from 'Limited Edition Screen Print Set'"><img style="margin-top: 4px;" src="/abuntoo/images/Rewards-Gallery-Collage-3.jpg" alt="" class="img-responsive"></a></div>
          <div class="col-sm-4 col-xs-6"><a href="/abuntoo/images/Rewards-Gallery-Collage-4.jpg" data-lightbox="image-4" data-title="Image from 'Limited Edition Screen Print Set'"><img src="/abuntoo/images/Rewards-Gallery-Collage-4.jpg" alt="" class="img-responsive"></a></div>
          <div class="col-sm-4 col-xs-6"><a href="/abuntoo/images/Rewards-Gallery-Collage-5.jpg" data-lightbox="image-5" data-title="Image from 'Limited Edition Screen Print Set'"><img src="/abuntoo/images/Rewards-Gallery-Collage-5.jpg" alt="" class="img-responsive"></a></div>
          <div class="col-sm-4 col-xs-6"><a href="/abuntoo/images/Rewards-Gallery-Collage-6.jpg" data-lightbox="image-6" data-title="Image from 'Limited Edition Screen Print Set'"><img src="/abuntoo/images/Rewards-Gallery-Collage-6.jpg" alt="" class="img-responsive"></a></div>
          <div class="clearB"></div>
          <div class="col-md-6 col-xs-6"><a href="/abuntoo/images/Rewards-Gallery-Collage-7.jpg" data-lightbox="image-7" data-title="Image from 'Limited Edition Screen Print Set'"><img src="/abuntoo/images/Rewards-Gallery-Collage-7.jpg" alt="" class="img-responsive"></a></div>
          <div class="col-md-6 col-xs-6"><a href="/abuntoo/images/Rewards-Gallery-Collage-8.jpg" data-lightbox="image-8" data-title="Image from 'Limited Edition Screen Print Set'"><img src="/abuntoo/images/Rewards-Gallery-Collage-8.jpg" alt="" class="img-responsive"></a></div>

        </div>
      </div>
    </section>
  </div>
</div>

