<%
   embed = @data[:embed]
   embed[:minimum_amount] = 5
   campaign = embed[:campaign]
%>

<div class="row">
    <%= render view_path('campaign_heading', embed), campaign: campaign %>
      <div class="col-md-8">
          <section id="donateSection">
              <!-- MAIN SECTION -->
            <form id="step1_form" onsubmit="return handleStep1()">

              <div class="row">
                <div id="errorMessage" style="display: none;"></div>

                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <%= hidden_field_tag :embed_uuid, embed[:uuid] %>
                <%= hidden_field_tag :authenticated_email, auth0_authenticated_email, id: :authenticated_email %>
                <%= hidden_field_tag :email, '_deferred_' %>

                <div class="col-md-6">
                  <h3>My Contribution Today:</h3>
                </div>
                <div class="col-md-6">
                  <span id="donateCurrency">$</span><%= text_field_tag :donateSelectBox %>
                 <p id="donateNote">Minimum donation <span id="minimumDonation" style="font-weight: bold;">$5</span>.  Please give more if you're able to! </p>
                  <a href="#" class="btnC2 floatL" onclick="$(this).closest('form').submit(); return false;">Next</a>
                  <div class="clearB"></div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h5 id="giftProposal">Please select <span>ONE OR MORE</span> thank-you gifts.  Yes, you can make multiple selections!</h5>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <div class="donateGift">
                    <a class="checkMark">
                      <%= check_box_tag :chosen_offer_none, :true, false, 'data-min-contrib': embed[:minimum_amount]  %>
                    </a>
                    <h6>No Gift</h6>
                    <div class="clearB"></div>
                  </div>

                  <%
                     campaign[:offers].each do |offer|
                  %>
                      <div class="donateGift">
                        <a class="checkMark">
                          <%= check_box_tag :chosen_offer_uuid, offer[:uuid], false, class: 'offer', 'data-min-contrib': offer[:minimum_contribution], id: "chosen_offer_uuid_#{offer[:uuid]}" %>
                        </a>
                        <h6><%= offer[:name] %></h6>
                        <h5>$<%= format_amount(offer[:minimum_contribution],0) %></h5>
                        <div class="clearB"></div>
                        <p class="donateFrom"><span>from</span> <%= offer[:provided_by] %>
                          <% website = offer[:provider_website] %>
                          <% if website.present? %>
                              <a href="<%=website%>" target="_blank"><%=website%></a>
                          <% end %>
                        </p>
                        <p>
                          <%= offer[:details].html_safe %>
                          <!--Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.-->
                        </p>
                        <% if offer[:ships_to] %>
                          <a class="donateGiftShipsto">ships to <%=offer[:ships_to]%></a>
                        <% end %>
                        <% if offer[:redeemable_in] %>
                            <a class="donateGifyRedeem">redeemable in <%=offer[:redeemable_in]%></a>
                        <% end %>
                        <div class="clearB"></div>
                      </div>

                  <%
                     end
                  %>

                  <!--<div class="donateGift">-->
                    <!--<a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>-->
                    <!--<h6>"Sacred Economics" by Charles Eisenstein</h6>-->
                    <!--<h5>$45</h5>-->
                    <!--<div class="clearB"></div>-->
                    <!--<p class="donateFrom"><span>from</span> Cecilia Tom <a href="#">www.mywebsite.com</a></p>-->
                    <!--<p>Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.</p>-->
                    <!--<a href="#" class="donateGiftShipsto">ships to all 50 states</a>-->
                    <!--<a href="#" class="donateGifyRedeem">redeemable in Oakland, CA</a>-->
                    <!--<div class="clearB"></div>-->
                  <!--</div>-->

                  <!--<div class="donateGift">-->
                    <!--<a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>-->
                    <!--<h6>Disneyland Tickets</h6>-->
                    <!--<h5>$105</h5>-->
                    <!--<div class="clearB"></div>-->
                    <!--<p class="donateFrom"><span>from</span> Cecilia Tom <a href="#">www.mywebsite.com</a></p>-->
                    <!--<p>Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.</p>-->
                    <!--<a href="#" class="donateGiftShipsto">ships to all 50 states</a>-->
                    <!--<a href="#" class="donateGifyRedeem">redeemable in Oakland, CA</a>-->
                    <!--<div class="clearB"></div>-->
                  <!--</div>-->

                  <!--<div class="donateGift">-->
                    <!--<a href="#" class="checkMark"><i class="fa fa-check-circle-o" aria-hidden="true"></i></a>-->
                    <!--<h6>Amazon Gift Card</h6>-->
                    <!--<h5>$40</h5>-->
                    <!--<div class="clearB"></div>-->
                    <!--<p class="donateFrom"><span>from</span> Cecilia Tom <a href="#">www.mywebsite.com</a></p>-->
                    <!--<p>Reward Description. This is the DIN Next Light font.  The squares to the left are check boxes that allow for multiple selections.  Rewards on this list should be in the same order as the rewards shown on the home page, and this paragraph is the same as the description on each individual pop-up. 335 max characters for this paragraph.</p>-->
                    <!--<a href="#" class="donateGiftShipsto">ships to all 50 states</a>-->
                    <!--<a href="#" class="donateGifyRedeem">redeemable in Oakland, CA</a>-->
                    <!--<div class="clearB"></div>-->
                  <!--</div>-->

                </div>
              </div>

            </form>

          </section>
      </div>

      <div class="col-md-4">
          <aside>
            <%= render view_path('campaign_progress', embed), campaign: campaign %>
            <%= render view_path('abuntoo_sidebar', embed) %>
          </aside>
      </div>
  </div>

<script>

  $(function() {
    $('.checkMark').change(function(evt) {

      var no_gift_changed = evt.target.id === 'chosen_offer_none';
      var no_gift_cb = $('#chosen_offer_none')[0];

      if (no_gift_changed && no_gift_cb.checked) {
        $('.offer').each(function(idx, elt) {
          elt.checked = false;
        })
      } else {
        no_gift_cb.checked = false;
        no_gift_cb.checked = false;
      }
      updateContribution();
    } );

    updateContribution();

  });

</script>