<%
   embed = @data[:embed]
   campaign = embed[:campaign]
%>

<div class="row">
    <%= render view_path('campaign_heading', embed), campaign: campaign %>

      <div class="col-md-8">
          <section>
              <!-- MAIN SECTION -->
              <div class="row" id="mainNav">
                <div class="col-md-12">
                  <ul class="mainSectionMenu">
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">STORY</a></li>
                    <li><a href="#">GALLERY</a></li>
                    <li><a href="#">DONORS</a></li>
                  </ul>
                </div>
              </div>

              <div class="row" id="shareBlockSection">
                <div class="sectionAEnc">
                  <div class="col-md-4 noPadd">
                    <div class="topFeeds">
                      <p>Young kids (> 92% low-income) from this Lower Haight school have little access to art education &amp; activities due to lack of public funding.​</p>
                    </div>

                    <div class="topFeeds topFeedBlue">
                      <p>Haight Street Art Center hosted a silk screening project this spring that delighted students &amp; families.  The community came out to party!</p>
                    </div>
                  </div>
                  <div class="col-md-8 noPaddR">
                  <iframe width="100%" height="350" src="https://www.youtube.com/embed/f82PWRPV7ac" frameborder="0" allowfullscreen></iframe>
                  </div>
                </div>
                <br>
                <div class="sectionBEnc">
                  <div class="col-md-8 noPadd">
                      <img class="img-responsive" src="images/sectionAImg.jpg" alt="Fund!">
                  </div>

                  <div class="col-md-4 noPaddR">
                    <div class="topFeeds topFeedPink">
                        <p>We need your support to replicate this successful model &amp; develop similar projects to make art a regular offering in these children’s lives.</p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-md-12">
                  <h3 class="sectionTitle">OUR STORY</h3>
                  <h3 class="sectionTitle">REWARDS GALLERY</h3>
                </div>
              </div>
          </section>
      </div>

      <div class="col-md-4">
          <aside>
            <a href="/donate" class="btn btn-default btnC1">Donate</a>

            <%= render view_path('campaign_progress', embed), campaign: campaign%>

            <%
               campaign[:offers].each do |offer|
            %>
              <div class="donorRewardBox">
                <h4 class="rewardPrice">$<%= format_amount(offer[:minimum_contribution],0) %></h4>
                <a href="#" class="rewardHelp"><i class="fa fa-info" aria-hidden="true"></i></a>
                <div class="clearB"></div>
                <h3 class="rewardTagline"><%= offer[:name] %></h3>
                <h5 class="rewardSubline"><i>from</i> <%= offer[:provided_by] %></h5>
                <hr>
                <p> <%= offer[:kind_label] %></p>
                <p class="donorCount"><%= offer[:allocated] %> donor(s)</p>
                <p class="donorStatus"><%= offer[:availability] %></p>
                <div class="clearB"></div>
              </div>
            <%
               end
            %>

              <!--<div class="donorRewardBox">-->
                <!--<h4 class="rewardPrice">$50</h4>-->
                <!--<a href="#" class="rewardHelp"><i class="fa fa-info" aria-hidden="true"></i></a>-->
                <!--<div class="clearB"></div>-->
                <!--<h3 class="rewardTagline">Limited Edition Art Fair Screen Print</h3>-->
                <!--<h5 class="rewardSubline"><i>from</i> Gary Houston &amp; John Muir Students</h5>-->
                <!--<hr>-->
                <!--<p>Exclusive to this campaign!</p>-->
                <!--<p class="donorCount">3 donors</p>-->
                <!--<p class="donorStatus">still available</p>-->
                <!--<div class="clearB"></div>-->
              <!--</div>-->

              <!--<div class="donorRewardBox">-->
                <!--<h4 class="rewardPrice">$25</h4>-->
                <!--<a href="#" class="rewardHelp"><i class="fa fa-info" aria-hidden="true"></i></a>-->
                <!--<div class="clearB"></div>-->
                <!--<h3 class="rewardTagline">Limited Edition Grateful Dead Poster</h3>-->
                <!--<h5 class="rewardSubline"><i>from</i> Anonymous Art Donor</h5>-->
                <!--<hr>-->
                <!--<p>Exclusive to this campaign!</p>-->
                <!--<p class="donorCount">12 donors</p>-->
                <!--<p class="donorStatus">10 left</p>-->
                <!--<div class="clearB"></div>-->
              <!--</div>-->

              <!--<div class="donorRewardBox greenDonorReward">-->
                <!--<h4 class="rewardPrice">$45</h4>-->
                <!--<a href="#" class="rewardHelp"><i class="fa fa-info" aria-hidden="true"></i></a>-->
                <!--<div class="clearB"></div>-->
                <!--<h3 class="rewardTagline">Free 75-Min. Float Tank Experience</h3>-->
                <!--<h5 class="rewardSubline"><i>from</i> Oakland Floats</h5>-->
                <!--<hr>-->
                <!--<p>An Abuntoo Reward</p>-->
                <!--<p class="donorCount">12 donors</p>-->
                <!--<p class="donorStatus">still available</p>-->
                <!--<div class="clearB"></div>-->
              <!--</div>-->

              <!--<div class="donorRewardBox greenDonorReward">-->
                <!--<h4 class="rewardPrice">$45</h4>-->
                <!--<a href="#" class="rewardHelp"><i class="fa fa-info" aria-hidden="true"></i></a>-->
                <!--<div class="clearB"></div>-->
                <!--<h3 class="rewardTagline">"Sacred Economics" by Charles </h3>-->
                <!--<h5 class="rewardSubline"><i>from</i> Cecilia Tom</h5>-->
                <!--<hr>-->
                <!--<p>An Abuntoo Reward</p>-->
                <!--<p class="donorCount">14 donors</p>-->
                <!--<p class="donorStatus">9 left</p>-->
                <!--<div class="clearB"></div>-->
              <!--</div>-->

              <!--<div class="donorRewardBox greenDonorReward">-->
                <!--<h4 class="rewardPrice">$700</h4>-->
                <!--<a href="#" class="rewardHelp"><i class="fa fa-info" aria-hidden="true"></i></a>-->
                <!--<div class="clearB"></div>-->
                <!--<h3 class="rewardTagline">Limited Edition Grateful Dead Poster</h3>-->
                <!--<h5 class="rewardSubline"><i>from</i> Anonymous Art Donor</h5>-->
                <!--<hr>-->
                <!--<p>An Abuntoo Reward</p>-->
                <!--<p class="donorCount">14 donors</p>-->
                <!--<p class="donorStatus">7 left</p>-->
                <!--<div class="clearB"></div>-->
              <!--</div>-->


          </aside>
      </div>
  </div>
