<%
   # assumed param:
   #   campaign = embed[:campaign]

   pcnt = campaign[:financial_pcnt]
%>
<div class="donateCounter">
  <div class="donateNumberCounter">
    <h6><span><%= number_to_currency(campaign[:financial_total], precision: 0) %></span> of</h6>
    <h5><%= number_to_currency(campaign[:financial_goal], precision: 0) %></h5>
  </div>
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="<%= pcnt %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= pcnt %>%;">
    </div>
  </div>
  <%
     count  = campaign[:supporter_total]
     suffix = count == 1 ? '' : 'S'
  %>

  <p class="donorCount"><%= count %> DONOR<%=suffix%> <span class="floatR"><%= pcnt %>%</span><i class="clearB"></i></p>
  <hr>
  <p class="locationDonation"><i class="fa fa-map-marker"></i>    San Francisco, CA</p>
</div>
