<!--suppress HtmlUnknownTarget -->
<ul>
  <!--<li><div id="fbButton"><img src="/abuntoo/images/fb.png" alt="Share on Facebook"></div></li>-->
  <!--<li><div class="fb-share-button" data-href="https://johnmuirart.abuntoo.org" data-layout="icon" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fjohnmuirart.abuntoo.org%2F&amp;src=sdkpreparse">Share</a></div></li>-->
  <li><a target="_blank" rel="noopener noreferrer" href="https://www.facebook.com/sharer/sharer.php?s=100&amp;p[url]=https://johnmuirart.abuntoo.org&p[quote]=<%=u 'Friends, please support art education at John Muir Elementary by making a donation today. I just did!' %>"><img src="/abuntoo/images/fb.png"></a></li>
  <li><a target="_blank" rel="noopener noreferrer" href="https://twitter.com/share?url=<%=u 'https://www.johnmuirart.us/' %>&text=<%=u 'Friends, please support art education at John Muir Elementary by making a donation today. I just did!' %>&via=abuntoo&size=large&dnt=true"><img src="/abuntoo/images/twitter.png" alt="Share on Twitter"></a></li>
  <li><a href="mailto:?to=&subject=<%=u 'Support art eductaion at John Muir Elementary' %>&body=<%=u 'Friends,

I just made a donation to support art and enrichment activities at John Muir Elementary School.  Hope you will join me in supporting this worthwhile cause.  This campaign features some pretty cool thank-you gifts, like limited edition screen prints based on designs by John Muir students, plus rewards offered by Abuntoo, a new San Francisco-based fundraising platform.

Click here to get started: www.johnmuirart.us

Best,

' %>"><img src="/abuntoo/images/mail.png" alt="Share via Mail"></a></li>
</ul>