<%
   embed = @data[:embed]
   campaign = embed[:campaign]
   transaction = @data[:transaction]
   payor = @data[:transaction][:payor]
   offer = transaction[:offer]
%>


      <div class="col-md-8">
          <section id="paymentSection">
              <!-- MAIN SECTION -->

              <div class="row">
              	<div class="col-md-12">
              		<a href="/donate.html" class="btnC2">Back</a>
              	</div>
              </div>

              <div class="row">
                <div class="col-lg-3">
              		<h5>Summary for</h5>
              	</div>
              	<div class="col-lg-9" id="summaryPaymentSectionTop">
                  <input type="text" name="name" value="<%=payor[:name]%>" class="inputTopPayment">
                  <input type="email" name="email" value="<%=payor[:email]%>" class="inputTopPayment">
              	</div>

              	<div class="col-lg-12" id="paymentAnonyCheck">
                  <p><input type="checkbox" name="anonymous" value="true">  Make this donation anonymous.  (We will not show your name on our Donor Community Page.)</p>
              	</div>


                <div class="col-md-5">
                  <div class="labelEnc">Donation Amount</div>
                </div>
                <div class="col-md-7" id="payInputSection">
                  <input type="text" value="$<%=transaction[:base_amount]%>" id="input1" disabled/>
                </div>

              	<div class="col-md-5">
              		<div class="labelEnc" style="height: 100px">Reward(s) Selected</div>
              	</div>
              	<div class="col-md-7" id="payInputSection">
              			<textarea style="height: 100px;" id="input2" disabled>
<%
   offers = transaction[:offers]
   if offers.present?
     offers.each do |offer|
%><%= offer[:name] %>
<%
   end
   else
%>
None
<%
   end
%>
</textarea>
              	</div>

                <% if transaction[:capture_address] %>
                  <%= render view_path('address_form', embed), data: @data %>
                <% end %>

              </div>

              <div class="row" id="paymentBlock">
              	<div class="col-md-12">
              		<h5>Payment Choice - Select ONE Method</h5>
              	</div>

                <% if transaction[:fee_allocation_options].size > 1 %>
                  <%= render view_path("fee_allocation", embed), embed: embed, transaction: transaction %>
                <% end %>

                <%# card_config = @data[:payment_configs].find{|pc|pc[:form_name] == 'card'} %>
                <%#= render 'card', payment_config: card_config, data: @data %>
                <% @data[:payment_configs].each do |payment_config| %>
                    <%= render view_path(payment_config[:form_name], embed), payment_config: payment_config, data: @data %>
                <% end %>

              	<div class="col-md-12">
              		<!--<hr>-->
                  <!--<p id="paymentTerms">-->
                  <br>

                  <div id="agreeTermsNotice" style="display: none">
                    <h4 style="color: #E82C58;">
                      Please agree to terms before proceeding
                    </h4>
                  </div>
                  <p id="paymentAgree">
                    <%= check_box_tag :agree_to_terms, :true %>
                    By submitting a payment via this form, you acknowledge that you agree to our
                    <%= link_to 'Terms of Service', terms_path, target: '_blank' %>
                    and
                    <!--<a href="/terms.html>">Terms of Service</a> and -->
                    <!--<a href="#">Privacy Policy</a>-->
                    <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %>
                    .<br><br>
                    We provide transaction fee information via
                    <a href="#">FairPay</a>
                    to empower you to decide where your money goes - to the credit card companies, or to support our mission of generating abundance for organizations and communities in need.</p>
              	</div>
              </div>

          </section>
      </div>

      <div class="col-md-4">
          <aside>
            <%= render view_path('campaign_progress', embed), campaign: campaign%>
            <%= render view_path('abuntoo_sidebar', embed) %>
          </aside>
      </div>
