    <div class="row" id="profilePage">
      <div class="col-lg-4">
        <h3 class="abuntooTagLine">Your Abundance Dashboard</h3>
        <div class="profilePageNavMbl hidden-lg">
          <a href="#accountNav" class="btnC2 profileNav">account</a>
          <a href="#socialNav" class="btnC2 profileNav">social</a>
          <a href="#paymentNav" class="btnC2 profileNav">payment</a>
          <div class="clearB"></div>
        </div>
        <div class="sectionOneProfile visible-lg">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <div class="clearB"></div>
        </div>
          <div class="sectionThreeProfile visible-lg">
              <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <div class="clearB"></div>
              <p class="orangeTxtImp textRight">your personal or business website</p>
              <p class="orangeTxtImp textRight">short bio or favorite quote</p>
          </div>


          <div class="sectionFourProfile visible-lg"></div>

        <div class="sectionFiveProfile visible-lg">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <img class="floatR profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          <div class="clearB"></div>
          <p class="orangeTxt textRight" style="min-height: 92px;">your remembered card</p>
        </div>

      </div>

      <div class="col-lg-8">
        <div class="profilePageNav visible-lg">
          <a href="profile#accountNav" class="btnC2 profileNav">account</a>
          <a href="profile#paymentNav" class="btnC2 profileNav">payment</a>
          <a href="/" class="btnC2 profileNav profileNavBlue floatR">home</a>
          <div class="clearB"></div>
        </div>

        <%= form_for @profile, url: '/profile', method: 'post' do |f| %>

        <a id="accountNav"></a>
        <div class="mobileStars hidden-lg">
            <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
            <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
            <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
            <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
        </div>
        <div class="sectionOneProfile" id="sectionOneProfileNon-Edit">
          <%#
          <p class="labelEncProfile orangeTxt floatL">first name*</p>
          <p id="p1ProfilePage" class="floatL"><%=@profile.first_name% > <span id="editSectionOne"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></p>
          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">last name*</p>
          <p id="p2ProfilePage" class="floatL"><%=@profile.last_name% ></p>
          <div class="clearB"></div>
          %>

          <p class="labelEncProfile orangeTxt floatL">name*</p>
          <p id="p1ProfilePage" class="floatL"><%=@profile.name%> <span id="editSectionOne"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></p>
          <div class="clearB"></div>

          <p class="labelEncProfile orangeTxt floatL">email*</p>
          <p id="p3ProfilePage" class="floatL"><%=@profile.email%></p>
          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">mobile #</p>
          <p id="p4ProfilePage" class="floatL"><%=@profile.phone%></p>
          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">zip*</p>
          <p id="p5ProfilePage" class="floatL"><%=@profile.postal_code%></p>
          <div class="clearB"></div>
        </div>
        <div class="sectionOneProfile" id="sectionOneProfileEdit">
          <%#
          <p class="labelEncProfile orangeTxt floatL">first name*</p>
          <!--<input class="floatL" type="text" name="first_name" value="Cecilia">-->
          < % = f.text_field :first_name % >
          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">last name*</p>
          <!--<input class="floatL" type="text" name="last_name" value="Top">-->
          < % = f.text_field :last_name % >
          %>

          <p class="labelEncProfile orangeTxt floatL">name*</p>
          <%= f.text_field :name %>
          <div class="clearB"></div>


          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">email*</p>
          <%#= f.text_field :email %>
          <!--<input class="floatL" type="text" name="email" value="<%=@profile.email%>" readonly>-->
          <p id="p3ProfilePage" class="floatL"><%=@profile.email%></p>

          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">mobile #</p>
          <!--<input class="floatL" type="tel" name="phone" value="9876544321">-->
          <%= f.text_field :phone %>

          <div class="clearB"></div>
          <p class="labelEncProfile orangeTxt floatL">zip*</p>
          <!--<input class="floatL" type="text" name="postal_code" value="88732">-->
          <%= f.text_field :postal_code %>

          <span id="closeSectionOne"><%= image_submit_tag("/abuntoo/images/nextFrwd.svg") %></span>
          <div class="clearB"></div>
        </div>

          <a id="socialNav"></a>
          <div class="mobileStars hidden-lg">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          </div>

          <div class="sectionThreeProfile" id="sectionThreeProfileNon-Edit">
              <h3>Help fellow donors find you and discover what you have to offer to the world!</h3>
              <p><% if @profile.website.present? %><%=@profile.website%><% else %><span class="sampleText">e.g. http://www.abuntoo.io</span><% end %><span id="editSectionThree"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></span></p><div class="clearB"></div>
            <p> <% if @profile.bio.present? %><%= @profile.bio %> <% else %> <span class="sampleText">e.g. CEO of Abuntoo. Ice-cream evangelist. Choral singer. Proponent of big iron balls.  "Speak softly and swing a big kettlebell." Thank you for joining this open-hearted tribe of generous beings!</span> <% end %> </p>
          </div>

          <div class="sectionThreeProfile" id="sectionThreeProfileEdit">
            <h3>Help fellow donors find you and discover what you have to offer to the world!</h3>
            <!--<input value="e.g. http://www.abuntoo.io" type="url" name="website">-->
            <%= f.text_field :website %>

            <!--<textarea class="floatL" name="bio" maxlenght="250">e.g. Here are up to 250 characters about myself.  I love ice-cream and I create abundance for my community! </textarea>-->
            <%= f.text_area :bio %>

            <span class="floatL" id="closeSectionThree"><%= image_submit_tag("/abuntoo/images/nextFrwd.svg") %></span>

            <div class="clearB"></div>
          </div>

          <div class="donorBox visible-lg" style="position: relative;">
            <% if !@profile.bio.present? %><p style="position: absolute;font-size: 32px;top: 100px;left: 30px;color: red;transform: rotate(-30deg);opacity: 0.3;font-family: helvetica,sans-serif; font-weight: bold;">EXAMPLE!</p><% end %>
              <img class="avatarDonor" src="/abuntoo/images/smiley-tilt.png">
              <div class="titleDonor">
                  <h5><% if @profile.bio.present? %><%= @profile.name %><% else %>Cecilia Tom<% end %></h5>
                  <ul>
                      <li><% if @profile.website.present? %><a href="<%= @profile.website %>"><% end %><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                  </ul>
              </div>
              <div class="clearB"></div>
              <p><% if @profile.bio.present? %><%= @profile.bio %><% else %>CEO of Abuntoo. Ice-cream evangelist. Choral singer. Proponent of big iron balls.  "Speak softly and swing a big kettlebell." Thank you for joining this open-hearted tribe of generous beings!<% end %></p>
          </div>


          <div class="donorBox donorBoxPaymentsMbl hidden-lg" style="position: relative;">
            <% if !@profile.bio.present? %><p style="position: absolute;font-size: 32px;top: 100px;left: 30px;color: red;transform: rotate(-30deg);opacity: 0.3;font-family: helvetica,sans-serif; font-weight: bold;">EXAMPLE!</p><% end %>
              <img class="avatarDonor" src="/abuntoo/images/smiley-tilt.png">
              <div class="titleDonor">
                  <h5><% if @profile.bio.present? %><%= @profile.name %><% else %>Cecilia Tom<% end %></h5>
                  <ul>
                      <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                  </ul>
              </div>
              <div class="clearB"></div>
              <p><% if @profile.bio.present? %><%= @profile.bio %><% else %>CEO of Abuntoo. Ice-cream evangelist. Choral singer. Proponent of big iron balls.  "Speak softly and swing a big kettlebell." Thank you for joining this open-hearted tribe of generous beings!<% end %></p>
          </div>

        <% end %>

        <a id="paymentNav"></a>
        <div class="sectionFiveProfile">
          <div class="mobileStars hidden-lg">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
              <img class="profilePStar" width="24" src="/abuntoo/images/star.svg" alt="Abuntoo">
          </div>

          <h3 class="orangeTxt">Payment Settings</h3>
          <% if @profile.saved_payment_source.present? %>
            <p id="sectionFiveProfileNon-Edit">
              <span id="cardStatus">
                <!--card # ending in 1357, exp. MM/YY-->
                card # <%=@profile.saved_payment_source.description%>
              </span>
              <span>
                <!--<i class="fa fa-trash" style="margin-left: 10px;" onclick="$( '#cardStatus' ).html('<i style=\'font-style: normal;color: rgb(160, 160, 159);\'>Add your card to expedite future checkouts.</i>');" aria-hidden="true"></i>-->
                <a href="/remove_payment_source">
                  <i class="fa fa-trash" style="margin-left: 10px;"></i>
                </a>
              </span>
              <div class="clearB"></div>
            </p>
          <% else %>
            <p id="sectionFiveProfileNon-Edit">
              <span id="cardStatus">no stored payment information</span>
            </p>
          <% end %>

          <%#
          <div id="sectionFiveProfileEdit">
            <input type="password" name="cardnum" placeholder="Card #">
            <input type="text" name="cardexp" placeholder="Exp. MM / YY">
            <input type="password" name="cardccv" placeholder="CVV (Security Code)">
            <input class="floatL" type="text" name="cardzip" placeholder="Billing Zip">
            <span class="floatL" id="closeSectionFive"><img src="/abuntoo/images/nextFrwd.svg" alt="Finalise"></span>
            <div class="clearB"></div>
          </div>
          %>
            <p class="notificationProfile">We do not store your payment card information. We store a special authorization
                token we receive from Stripe that can only be used by us. We do keep the last 4 digits and expiration date
                of your card to make it easier for you to identify which card you used. For more information
                on Stripe's security practices, click <a style="text-decoration: underline !important; color: black;"
                                                         href="https://stripe.com/docs/security">here</a>.</p>
        </div>

        </form>

      </div>
    </div>

    <script type="text/javascript">
  jQuery(document).ready(function() {
      jQuery("#editSectionOne").click(function(){
        jQuery("#sectionOneProfileNon-Edit").hide();
        jQuery("#sectionOneProfileEdit").show();
      });

      jQuery("#closeSectionOne").click(function(){
        jQuery("#sectionOneProfileNon-Edit").show();
        jQuery("#sectionOneProfileEdit").hide();
      });

      jQuery("#editSectionThree").click(function(){
        jQuery("#sectionThreeProfileNon-Edit").hide();
        jQuery("#sectionThreeProfileEdit").show();
      });

      jQuery("#closeSectionThree").click(function(){
        jQuery("#sectionThreeProfileNon-Edit").show();
        jQuery("#sectionThreeProfileEdit").hide();
      });

      jQuery("#editSectionFive").click(function(){
        jQuery("#sectionFiveProfileNon-Edit").hide();
        jQuery("#sectionFiveProfileEdit").show();
      });

      jQuery("#closeSectionFive").click(function(){
        jQuery("#sectionFiveProfileNon-Edit").show();
        jQuery("#sectionFiveProfileEdit").hide();
      });
  });
</script>