<%
   embed = @data[:embed]
   campaign = embed[:campaign]
   transaction = @data[:transaction]
   offer = transaction[:offer]

%>

<div class="row">
  <%= render 'campaign_heading', campaign: campaign %>

      <div class="col-md-8">
          <section id="paymentSection">
              <!-- MAIN SECTION -->

              <!--<div class="row">-->
              	<!--<div class="col-md-12">-->
              		<!--<a href="donate.html" class="btnC2">Back</a>-->
              	<!--</div>-->
              <!--</div>-->

              <div class="row">
              	<div class="col-md-12">
              		<h5>Summary</h5>
              	</div>
              	<div class="col-md-5">
              		<div class="labelEnc">Donation Amount</div>
              		<div class="labelEnc" style="height: 100px">Reward(s) Selected</div>
              		<div class="labelEnc" style="height: 200px;">Enter a Shipping Address if any of your selected rewards require shipping. U.S. only.</div>
              	</div>

              	<div class="col-md-7" id="payInputSection">
              		<form>
              			<input type="text" value="$<%=transaction[:base_amount]%>" id="input1"></input>
              			<textarea style="height: 100px;" id="input2">
                      <% if offer %>
                          <%= offer[:name] %>
                      <%else%>
                          None
                      <%end%>
                    </textarea>
              			<input type="text" name="" placeholder="First &amp; Last Name" id="input3"></input>
              			<input type="text" name="" placeholder="Street Address" id="input4"></input>
              			<input type="text" name="" placeholder="City" id="input5"></input>
              			<input type="text" name="" value="CA" id="input5"></input>
              			<input type="text" name="" placeholder="Zip" id="input7"></input>
              		</form>
              	</div>
              </div>

              <div class="row">
              	<div class="col-md-12">
              		<h5>Payment Choice - Select ONE Method</h5>
              	</div>
                <table border=1>
                  <% @data[:payment_configs].each do |payment_config| %>
                      <%= render payment_config[:form_name], payment_config: payment_config, data: @data %>
                  <% end %>
                </table>

              	<!--<div class="col-md-5">-->
                  <!--<div class="labelEnc">-->
                    <!--Dwolla (e-check service)<br>-->
                    <!--Transaction Fee: $0</div>-->
              		<!--<div class="labelEnc" style="height: 400px">Debit / Credit Transaction Fee: $X.XX - $X.XX (based on card type)</div>-->
              		<!--<div class="labelEnc" style="height: 100px;">PayPal Transaction Fee: $X.XX</div>-->
              	<!--</div>-->



              	<!--<div class="col-md-7" id="payInputSection">-->

                  <%
#                      configs = @data[:payment_configs]
#                      dwolla_config = configs.find{|pc|pc[:form_name] == 'dwolla'}
#                      card_config = configs.find{|pc|pc[:form_name] == 'card'}
#                      paypal_config = configs.find{|pc|pc[:form_name] == 'paypal'}
                  %>
                  <%#= render 'dwolla_2', payment_config: dwolla_config, data: @data %>

                  <!--&lt;!&ndash;<form>&ndash;&gt;-->
              			<!--&lt;!&ndash;<a href="#" class="btnC2 authorizeBTN floatL">Authorize</a>&ndash;&gt;-->
              			<!--&lt;!&ndash;<a href="#" class="floatR" style="margin-top: 25px;">No Account?  Learn More</a>&ndash;&gt;-->
              			<!--&lt;!&ndash;<div class="clearB"></div>&ndash;&gt;-->



              			<!--<input type="text" name="" placeholder="First &amp; Last Name"style="margin-top: 18px;" id="input8"></input>-->
              			<!--<input type="text" name="" placeholder="Card #" id="input9"></input>-->
              			<!--<input type="text" name="" placeholder="Exp.  MM / YY" id="input10"></input>-->
              			<!--<input type="text" name="" placeholder="CVV (Security Code)" id="input11"></input>-->
              			<!--<input type="text" name="" placeholder="Billing Zip" id="input12"></input>-->
              			<!--<p id="paymentAgree"><input type="checkbox" name="confirm" value="Confirm">   Securely save payment info for fast future checkouts.  You can manage your payment settings in your donor profile.</p>-->
              			<!--<a href="#" class="btnC2 submitBTN">Submit</a>-->
              			<!--<a href="#" class="btnC2 paypalBTN"><img src="images/paypal.png" alt="Paypal"></a>-->
              		<!--&lt;!&ndash;</form>&ndash;&gt;-->
              	<!--</div>-->

              	<div class="col-md-12">
              		<!--<hr>-->
                  <!--<p id="paymentTerms">-->

                  <p id="paymentAgree">
                    <br>
                    <%= check_box_tag :agree_to_terms, :true %>
                    By submitting a payment via this form, you acknowledge that you agree to our
                    <%= link_to 'Terms of Service', terms_path, target: '_blank' %>
                    and
                    <!--<a href="/terms.html>">Terms of Service</a> and -->
                    <!--<a href="#">Privacy Policy</a>-->
                    <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %>
                    .<br><br>
                    We provide transaction fee information via
                    <a href="#">FairPay</a>
                    to empower you to decide where your money goes - to the credit card companies, or to support our mission of generating abundance for organizations and communities in need.</p>
              	</div>
              </div>

          </section>
      </div>

      <div class="col-md-4">
          <aside>
            <%= render 'campaign_progress', campaign: campaign%>
            <%= render 'abuntoo_sidebar' %>
          </aside>
      </div>
  </div>
