<%
   embed = @data[:embed]
   campaign = embed[:campaign]
   transaction = @data[:transaction]
   offer = transaction[:offer]
%>

<div class="row">
  <%= render 'campaign_heading', campaign: campaign %>

      <div class="col-md-8">
          <section id="paymentSection">
              <!-- MAIN SECTION -->

              <!--<div class="row">-->
              	<!--<div class="col-md-12">-->
              		<!--<a href="donate.html" class="btnC2">Back</a>-->
              	<!--</div>-->
              <!--</div>-->

              <div class="row">
              	<div class="col-md-12">
              		<h5>Summary</h5>
              	</div>
              	<div class="col-md-5">
              		<div class="labelEnc">Donation Amount</div>
              		<div class="labelEnc" style="height: 100px">Reward(s) Selected</div>
              		<div class="labelEnc" style="height: 200px;">Enter a Shipping Address if any of your selected rewards require shipping. U.S. only.</div>
              	</div>

              	<div class="col-md-7" id="payInputSection">
              		<form>
              			<input type="text" value="$<%=transaction[:base_amount]%>" id="input1" disabled/>
              			<textarea style="height: 100px;" id="input2" disabled>
<%
   offers = transaction[:offers]
   if offers.present?
     offers.each do |offer|
%><%= offer[:name] %>
<%
   end
   else
%>
None
<%
   end
%>
</textarea>
              			<input type="text" name="" placeholder="First &amp; Last Name" id="input3"></input>
              			<input type="text" name="" placeholder="Street Address" id="input4"></input>
              			<input type="text" name="" placeholder="City" id="input5"></input>
              			<input type="text" name="" placeholder="CA" id="input5"></input>
              			<input type="text" name="" placeholder="Zip" id="input7"></input>
              		</form>
              	</div>
              </div>

              <div class="row">
              	<div class="col-md-12">
              		<h5>Payment Choice - Select ONE Method</h5>
              	</div>

                <%= render "fee_allocation", embed: embed, transaction: transaction %>

                <table border=0 style="border-spacing: 5px;">
                  <% @data[:payment_configs].each do |payment_config| %>
                      <%= render payment_config[:form_name], payment_config: payment_config, data: @data %>
                  <% end %>
                </table>

              	<div class="col-md-12">
              		<!--<hr>-->
                  <!--<p id="paymentTerms">-->
                  <p id="paymentAgree">
                    <br>
                    <%= check_box_tag :agree_to_terms, :true %>
                    By submitting a payment via this form, you acknowledge that you agree to our
                    <%= link_to 'Terms of Service', terms_path, target: '_blank' %>
                    and
                    <!--<a href="/terms.html>">Terms of Service</a> and -->
                    <!--<a href="#">Privacy Policy</a>-->
                    <%= link_to 'Privacy Policy', privacy_path, target: '_blank' %>
                    .<br><br>
                    We provide transaction fee information via
                    <a href="#">FairPay</a>
                    to empower you to decide where your money goes - to the credit card companies, or to support our mission of generating abundance for organizations and communities in need.</p>
              	</div>
              </div>

          </section>
      </div>

      <div class="col-md-4">
          <aside>
            <%= render 'campaign_progress', campaign: campaign%>
            <%= render 'abuntoo_sidebar' %>
          </aside>
      </div>
  </div>
